@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url(fonts/ptsans-400.woff2) format("woff2");
font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
    }

@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 400;
src: url(fonts/ptsans-400.woff2) format("woff2");
font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url(fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
    }

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;

}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.greeting {
    background-image: url("../images/main-page/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.reasons-description-first,
.search-description-first {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons-description-second {
    font-size: 22px;
    line-height: 36px;
    text-align: center;
}
.search-description-second {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}

.reasons-list {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.reasons-title,
.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons-item:nth-child(1) {
    background-image: url("../images/main-page/photo-1.jpg");
    background-size: 800px 384px;
    background-repeat: no-repeat;
}

.reasons-item:nth-child(2) {
    background-image: url("../images/main-page/photo-2.jpg");
    background-size: 800px 384px;
    background-repeat: no-repeat;
}

.search-link {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756257;
}

input {
    background-color: #F2F2F2;
}
.subscribe {
    background-image: url("../images/main-page/background-mail.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
}

.subscribe-button {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
}

.contacts-tel {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

/* Catalog*/

.inner-group {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #83B3D3;
    background-image: url("../images/catalog/filters.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.button {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
}

.button-reset {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: transparent;

}

.button-hotels-link,
.button-navigation-link {
    background-color: #756257;
}

.button-hotels-link-current {
    background-color: #7DB54F; 
}
.inner-title {
    font-size: 40px;
    line-height: 78px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;
}

.filters-group-title {
    font-size: 20px;
    line-height: 26px; 
    font-weight: 700;
}

.filters-description-hotels-number {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;  
}

.button-list {
    border: 1px solid #000000;
    background-color: transparent;
}

.hotels-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700; 
}

.hotels-item {
    font-size: 18px;
    line-height: 23px; 
}

.hotels-rate {
    font-size: 16px;
    line-height: 21px;
    background-color: #F2F2F2;
}

.pagination-link {
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
}

.pagination-current {
    color: #000000;
    font-weight: 700;
    background-color: #F2F2F2;
}