@font-face {
font-family: "PT Sans";
font-style: normal;
font-weight: 400;
src: url(../fonts/ptsans-400.woff2) format("woff2");
font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
    }

@font-face {
font-family: "PT Sans";
font-style: italic;
font-weight: 400;
src: url(../fonts/ptsans-400.woff2) format("woff2");
font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
    }

    /* sticky footer */

html {
    height: 100%;
    background-color: #F2F2F2;
}

.main-container {
    flex-grow: 1;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 20%);
}

/* visually-hidden*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* page */

.page-header {
    z-index: 2;
    margin-bottom: -5px;
}
.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-item {
    position: relative;
}

.navigation-list,
.navigation-user {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.navigation-user {
    max-width: 310px;
    margin-left: auto;
    padding-bottom: 4px;
}

.navigation-list {
    width: 460px;
    padding-bottom: 4px;
}

.navigation-link {
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 20px 17px;
}

.navigation-user-link {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 22px 12px;
    min-width: 18px;
    min-height: 18px;
}

.navigation-user-heart::after {
    position: absolute;
    content: "12";
    font-family: PT Sans;
    font-size: 10px;
    line-height: 19px;
    color: #FFFFFF;
    width: 19px;
    height: 19px;
    background-color: #7DB550;
    border-radius: 50%;
    top: 14px;
    right: -2px;
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
}


.navigation-logo-link {
    height: 70px;
    margin-right: 30px;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.navigation-user-link:hover {
    fill: #756257;
}

.navigation-user-link:active {
    fill: rgba(117, 98, 87);
    opacity: 0.3;
}

.navigation-link-current::before {
    position: absolute;
    content: "";
    bottom: 0px;
    right: 17px;
    left: 17px;
    height: 2px;
    background-color: #756257;
}

.greeting {
    background-image: url("../images/main-page/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 60px;
}

.greeting-image {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 25px;
}

.reasons-description-first,
.search-description-first {
    margin: 0;
    padding: o;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons-description-first {
    margin-bottom: 30px;
}

.reasons-description-second {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 79px;
}

.search-description-first {
    margin-bottom: 28px;
}

.search-description-second {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 56px;
}

.reasons-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    list-style-type: none;
    margin-bottom: 91px;
}

.reasons-title,
.advantages-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.reasons-title {
    margin-top: 98px;
    margin-bottom: 28px;
}

.advantages-title {
    margin-top: 186px;
    margin-bottom: 20px;
}

.advantages-title-house,
.advantages-title-food,
.advantages-title-souvenirs {
    position: relative;
}

.advantages-title-house::before {
    position: absolute;
    background-image: url("../images/main-page/icon-house.svg");
    height: 75px;
    width: 73px;
    content: "";
    background-repeat: no-repeat;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages-title-food::before {
    position: absolute;
    background-image: url("../images/main-page/icon-food.svg");
    height: 74px;
    width: 73px;
    content: "";
    background-repeat: no-repeat;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages-title-souvenirs::before {
    position: absolute;
    background-image: url("../images/main-page/icon-souvenir.svg");
    height: 84px;
    width: 66px;
    content: "";
    background-repeat: no-repeat;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
}

.advantages-description {
    margin: 0;
    margin-bottom: 89px;
}

.reasons-number {
    display: block;
    margin-bottom: 30px;
}

.reasons-description {
    margin: 0;
    padding: 0;
    margin-bottom: 87px;
}

.reasons-item-img,
.reasons-item-bridge {
    display: flex;
    flex-wrap: wrap;
}

.reasons-item-img::after {
    content: "";
    display: block;
    width: 800px;
    height: 384px;
    background-image: url("../images/main-page/photo-1.jpg");
    background-repeat: no-repeat;
}

.wrap,
.wrap-bridge {
    order: 0;
    width: 400px;
}

.advantages-list {
    padding: 0;
    display: flex;
    order:1;
    list-style-type: none;
}

.advantages-item,
.reasons-item:nth-child(n+3) {
    width: 400px;
}

.reasons-item-bridge::before {
    content: "";
    display: block;
    width: 800px;
    height: 384px;
    background-image: url("../images/main-page/photo-2.jpg");
    background-repeat: no-repeat;
}

.reasons-item:first-child,
.reasons-item:nth-child(2) {
    color:#ffffff;
    background-color: #83B3D3;
}

.reasons-item:nth-child(3),
.reasons-item:nth-child(5) {
    background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(4) {
    background-color:rgba(131, 179, 211, 0.2);
}

.advantages-list {
    color: #000000; 
    background-color: #ffffff;
}

.advantages-item:first-child,
.advantages-item:nth-child(3) {
    background-color: rgba(131, 179, 211, 0.12);
}

.search-link {
    display: block;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 12px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #756257;
    border-radius: 10px;
    margin-bottom: 92px;
    width: 575px;
    text-align: center;
}

.search-link:hover {
    background-color: #615048;
}

.search-link:focus {
    background-color: #615048;
    outline: 3px solid #83B3D3;
}

.subscribe {
    background-image: url("../images/main-page/background-mail.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 94px;
}

.search-link:active {
    background-color: #615048;
    color: #FFFFFF;
    opacity: 0.3;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
}

.subscribe-description {
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
}

input[type="email"] {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    background-color: #F2F2F2;
    display: block;
    width: 100%;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 21px;
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-sizing: border-box;
}

input[type="email"]:hover {
    background-color: #E6E6E6;
}

input[type="email"]:focus {
    background-color: #E6E6E6;
    outline: 3px solid #83B3D3;
}

input[type="email"]:invalid {
    outline: 2px solid #FF5757;
}

.contacts-tel {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.footer-container {
    display: flex;
}

.social {
    width: 300px;
    margin-left: 62px;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 36px;
    margin-bottom: 53px;
}


.social-item:not(:last-child) {
    margin-right: 9px;
}

.social-link {
    display: block;
    min-width: 10px;
    min-height: 15px;
    padding: 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    fill: #83B3D3;
}

.social-link:focus {
    fill: #68A2CA;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.social-link:hover {
    fill: #68A2CA;
}

.social-link:active {
    fill: rgba(104, 162, 202, 0.3);
    border: none;
}

.contacts {
    display:block;
    width: 360px;
    margin-left: 58px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.footer-logo {
    width: 115px;
    margin-left: auto;
    margin-right: 82px;
    padding-top: 30px;
    padding-bottom: 44px;
}

.footer-logo-link {
    display: block;
    height: 34px;
    width: 115px;
    padding: 10px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}

.contacts-tel:focus {
    color: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.contacts-tel:hover {
    color: #756257;
}

.contacts-tel:active {
    color: rgba(117, 98, 87, 0.3);
}

.footer-logo-link:focus {
    fill: #756257;
    outline: 3px solid #83B3D3;
    border-radius: 10px;
}

.footer-logo-link:hover {
    fill: #756257;
}

.footer-logo-link:active {
    fill: rgba(117, 98, 87, 0.3);
}

/* Catalog*/

.inner-group {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #83B3D3;
    background-image: url("../images/catalog/filters.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 35px;
    padding-left: 71px;
    padding-bottom: 77px;
    margin-bottom: 45px;
}

.button {
    display: block;
    font-size: 16px;
    line-height: 20.7px;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-transform: uppercase;
    text-decoration: none;
}

.button-navigation-link {
    display: block;
    margin: 0;
    padding: 9px 15px 8px 15px;
    margin-left: 20px;
    background-color: #756257;
    width: 160px;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.button-navigation-link:hover {
    background-color: #615048;
    color:#ffffff;
}

.button-navigation-link:focus {
    background-color: #615048;
    outline: 3px solid #83B3D3;
}

.button-navigation-link:active {
    background-color: #615048;
    color: rgba(255, 255, 255, 0.3);
}

.button-hotels-link {
    background-color: #756257;
    width: 133px;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
}

.button-hotels-link-current {
    background-color: #7DB54F; 
    width: 133px;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
}

.button-hotels-link-favorite {
    width: 141px;
    border-radius: 4px;
    padding-top: 9px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    margin-left: auto;
    grid-area: 5/3/6/4;
    margin-bottom: 16px;
}

.button-submit {
    font-family: PT Sans;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    padding: 14px 36px;
    margin: 0;
    margin-top: 61px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
    border: none;
}

.button-submit:focus {
    background: #68A2CA;
    outline: 3px solid #FFFFFF;
    border-radius: 4px;
}

.button-submit:hover {
    background: #68A2CA;
    outline: none;
}

.button-submit:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.button-reset:focus {
    outline: 3px solid #83B3D3;  
    border-radius: 4px;
}

.button-reset:hover {
    color: rgba(255, 255, 255, 0.6)
}

.button-reset:active {
    color: rgba(255, 255, 255, 0.3)
}

.button-reset {
    font-family: PT Sans;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    text-transform: capitalize;
    background-color: transparent;
    margin: 0;
    padding: 7px 45px;
    border-radius: 10px;
    border: none;
}

.subscribe-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #83B3D3;
    padding: 16px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.subscribe-button:hover {
    background-color: #68A2CA;
}

.subscribe-button:focus {
    background-color: #68A2CA;
    outline: 3px solid #756257;
}

.subscribe-button:active {
    background-color: #68A2CA;
    color: rgba(255, 255, 255, 0.3)
}

.subscribe-wrapper {
    display: grid;
    grid-template-columns: 600px 200px;
    padding-bottom: 94px;
    justify-content: center;
    align-items: center;
}

.inner-title {
    font-size: 60px;
    line-height: 78px;
    margin: 0;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 44px;
    margin-top: -8px;
    margin-left: -4px;
}

.breadcrumbs-link {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    min-width: 12px;
    min-height: 12px;
    padding: 3px 7px 3px 6px;
    color: #ffffff;
    text-decoration: none;
}

.breadcrumbs-item {
    position: relative;
    list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
    padding-right: 10px;
}

.breadcrumbs-icon {
    fill: #FFFFFF;
}

.breadcrumbs-link-icon:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.breadcrumbs-link-hotels:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.breadcrumbs-link-icon:hover {
   opacity: 0.6;
}

.breadcrumbs-link-hotels:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-icon:active {
    opacity: 0.3;
    outline: none;
}

.breadcrumbs-link-hotels:active {
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.breadcrumbs-link-icon::after {
    position: absolute;
    content: "";
    background-image: url(../images/catalog/nav-link.svg);
    width: 5px;
    height: 8px;
    top: 10px;
    right: 1px;
}  

.filters-wrapper {
    display: flex;
}

.filters-group-infrastructure,
.filters-group-housing,
.filters-group-price {
    margin: 0;
    padding: 0;
    border: none;
}

.filters-group-price {
    position: relative;
}

.filters-group-infrastructure {
    margin: 0;
    padding: 0;
    width: 199px;
    margin-right: 20px;
}

.filters-group-title {
    font-size: 20px;
    line-height: 26px; 
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
}

.filters-group-title-price {
    margin-bottom: 35px;
}

.filters-group-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.filters-group-item:not(:last-child) {
    margin-bottom: 12px;
}

.filters-group-housing {
    width: 296px;
    margin-right: 20px;
}

.filters-group-price {
    width: 287px;
    margin-right: 81px;
}

.control,
.control-radio {
    position: relative;
    display: block;
    padding-left: 39px;
}

.control-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 12px;
    height: 10px;
    background-image: url(../images/catalog/tick.svg);
    content: "";
}

.control-input[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-input:focus ~ .control-mark {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.control:hover .control-mark {
    background: rgba(255, 255, 255, 0.6);
    outline: none;
}

.control:active .control-mark {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

.control-input[type="radio"]:checked + .control-mark::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
    content: "";
}

.range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
} 

.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.range-toggle:focus {
    outline: 3px solid #83B3D3;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
    outline: 2px solid #83B3D3;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
    top: -8px;
    left: 0px;
}
  
  .toggle-max {
    top: -8px;
    right: -10px;
}

.range-wrapper-inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}
  
.range-input {
    display: block;
    width: 143px;
    margin: 0;
    padding: 14px 0px 7px 15px;
    font-family: PT Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    appearance: textfield;
}

.range-input-from {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 1px;
}

.range-input-to {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.range-input-from:focus,
.range-input-to:focus {
    box-shadow: inset 0px 0px 0px 3px #81B3D2, 0px 0px 0px 3px #81B3D2;
    outline: none;
}

.range-input-from:hover,
.range-input-to:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.range-input-from:active,
.range-input-to:active {
    background: #756257;
    outline: 2px solid #FFFFFF;
    border: none;
    box-shadow: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range-wrapper-inputs::before {
    position: absolute;
    content: "от";
    font-family: PT Sans;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.3);
    width: 17px;
    height: 23px;
    top: 12px;
    left: 113px;
}

.range-wrapper-inputs::after {
    position: absolute;
    content: "до";
    font-family: PT Sans;
    font-size: 18px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.3);
    width: 17px;
    height: 23px;
    top: 12px;
    right: 18px;
}

.buttons-wrapper {
    width: 160px;
    margin-right: 73px;
}

.search-wrapper {
    display: flex;
    margin-left: 72px;
    margin-right: 71px;
    margin-bottom: 52px;
}

.filters-description-hotels-number {
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase; 
    width: 338px;
    margin-right: 109px; 
    padding-top: 3px;
}

.select-control {
    font-family: PT Sans, sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    min-width: 287px;
    min-height: 48px;
    margin: 0 auto;
    padding: 0;
    padding-left: 13px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 33px;
    max-width: 450px;
}

.select-control:focus,
.select-control:hover {
    outline: 2px solid #83B3D3;
    border-radius: 4px;
}

.select-control:active {
    color: rgba(51, 51, 51, 0.3);
}

.navigation-image-wrapper {
    display: flex;
    flex-wrap: wrap; 
}

.button-list {
    display: block;
    width: 48px;
    height: 48px;
    border: 2px solid #E6E6E6;
    border-radius: 4px;
    background-color: transparent;
    margin:0;
    margin-right: 8px;
    padding: 15px 14px;
    box-sizing: border-box;
}

.button-list-current {
    border: 2px solid #000000;
}

.button-list:last-child {
    margin-right: 0;
}

.button-list:focus,
.button-list:hover {
    outline: 2px solid #83B3D3;
    border-radius: 4px;
}

.button-list:active {
    outline: 2px solid #000000;
    border-radius: 4px;
}


.hotels-list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 10px 18px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: 72px;
    margin-right: 72px;
    margin-bottom: 30px;
}

.hotels-title {
    font-size: 24px;
    line-height: 31px;
    font-weight: 700; 
    grid-area: 3/2/4/-2;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;
}

.hotels-item {
    display: grid;
    grid-template-columns: 20px 1fr 160px 20px;
    grid-template-rows: 20px 206px min-content min-content auto auto 20px;
    font-size: 18px;
    line-height: 23px; 
    width: 340px;
}

.hotels-link {
    grid-column: 2/-2;
    grid-row: 2/3;
}

.hotels-link:focus {
    outline: 3px solid #83B3D3;
}

.hotels-link:hover {
    opacity: 0.6;
}

.hotels-link:active {
    opacity: 0.3;
}

.hotels-description {
    grid-area: 4/2/5/3;
    margin-bottom: 15px;
}

.hotels-price {
    grid-area: 4/3/5/4;
    padding-left: 18px;
}

.button-hotels-link {
    grid-area: 5/2/6/3;
    margin-bottom: 16px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.button-hotels-link:focus {
    background: #615048;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.button-hotels-link:hover {
    background: #615048;;
}

.button-hotels-link:active {
    background: #615048;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.button-hotels-link-favorite:focus,
.button-hotels-link-more:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.button-hotels-link-favorite:hover,
.button-hotels-link-more:hover {
    background: #68A2CA;
    outline: 1px solid #756257;
}

.button-hotels-link-favorite:active,
.button-hotels-link-more:active {
    background: #68A2CA;
    outline: 1px solid #756257;
    color: rgba(255, 255, 255, 0.3);
}

.button-hotels-link-current:focus {
    background: #6C9E42;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.button-hotels-link-current:hover {
    background: #6C9E42;
}

.button-hotels-link-current:active {
    background: #6C9E42;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.stars {
    grid-area: 6/2/7/3;
    display: flex;
    padding-top: 8px;
}

.hotels-rate {
    font-size: 16px;
    line-height: 21px;
    background-color: #F2F2F2;
    grid-area: 6/3/7/4;
    margin: 0;
    padding: 7px 0 9px 33px;
    text-transform: uppercase;
}


.icon-star {
    background-image: url("../images/catalog/star.svg");
    display: inline-block;
    width: 18px;
    height: 17px;
    background-repeat: no-repeat;
    padding-top: 5px;
    margin-right: 7px;
}

.button-container {
    display: block;
    margin: auto;
    border: 1px solid #E6E6E6;
    border-left: none;
    border-right: none;
    margin-bottom: 30px;
}

.button-hotels-link-more {
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    display: block;
    width: 620px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 4px;
}

.pagination {
    margin: 0;
    padding: 0;
    display: flex;
    width: 368px;
    margin-left: 73px;
    list-style-type: none;
}

.pagination-container {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 74px;
}

.pagination-item:not(:last-child) {
    width: 55px;
    margin-right: 8px;
}

.pagination-link:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 4px;
}

.pagination-link:hover {
    background: #68A2CA;
}

.pagination-link:active {
    background: #F2F2F2;
    color: #000000;
    outline: none;
}

.select-container {
    margin: 0;
    padding: 0;
    width: 386px;
    margin-left: auto;
    margin-right: 71px;
    padding-top: 4px;
}

.select-control-number {
    font-family: PT Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    width: 160px;
    margin: 0;
    padding: 8px 0 10px 12px;
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 20px;
}

.select-hotels-number {
    padding-right: 26px;
}

.pagination-link {
    display: block;
    min-width: 55px;
    max-width: min-content;
    min-height: 55px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #83B3D3;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.pagination-current {
    color: #000000;
    font-weight: 700;
    background-color: #F2F2F2;
    display: block;
    min-width: 55px;
    max-width: min-content;
    min-height: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.subscribe-title-inner {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 46px;
}

.subscribe-description-inner {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 44px;
}

.subscribe-wrapper-inner {
    display: grid;
    grid-template-columns: 600px 200px;
    margin-bottom: 142px;
    justify-content: center;
    align-items: center;
}

/* modal window*/

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
}

.modal {
    position: relative;
    margin: auto;
    padding: 62px 70px 70px 70px;
    background-color: #ffffff;
    border-radius: 30px;
}

.modal-register {
    width: 575px;
}

.modal-close-button {
    position: absolute;
    padding: 20px;
    top: 54px;
    right: 68px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    content: "";
    box-sizing: content-box;
} 

.modal-title {
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 58px;
}

.field-group {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.modal-label {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.modal-label-data,
.modal-label-adults,
.modal-label-children {
    font-weight: 700;
    display: flex;
    align-items: center;
}

.modal-user-field {
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    color: #000000;
    width: 420px;
    padding: 5px 10px 5px 19px;
    background-color: #F2F2F2;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
}

.error {
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #FF5757;
    margin: 0;
    padding: 0;
    margin-left: 155px;
}

.right {
    font-family: PT Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 155px;
}

.modal-wrapper {
    display: flex;
    margin-bottom: 48px;
}

.input-wrapper-adults input[type="number"],
.input-wrapper-children input[type="number"] {
    font-family: PT Sans, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    width: 133px;
    background: #F2F2F2;
    border-radius: 4px;
    color:#000000;
    padding-left: 65px;
    border: none;
    box-sizing: border-box;
}

.modal-label-adults {
    margin-right: 46px;
}

.modal-label-children {
    margin-right: 28px;
}

.adults::-webkit-outer-spin-button,
.adults::-webkit-inner-spin-button {
-webkit-appearance: none;
 appearance: none;
}

.children::-webkit-outer-spin-button,
.children::-webkit-inner-spin-button {
-webkit-appearance: none;
 appearance: none;
}

.adults  {-webkit-appearance: textfield;  appearance: textfield;}

.children  {-webkit-appearance: textfield;  appearance: textfield;}

.input-wrapper-adults {
    position: relative;
    margin-right: 84px;
}

.input-wrapper-children {
    position: relative;
}

.icon-minus {
    position: absolute;
    width: 13px;
    height: 13px;
    padding: 3px;
    margin: 0;
    left: 19px;
    top: 50%;
    transform: translateY(-7px);
    color: rgba(0, 0, 0, 0.3);
}

.icon-plus {
    position: absolute;
    width: 13px;
    height: 13px;
    padding: 3px;
    margin: 0;
    left: 106px;
    top: 50%;
    transform: translateY(-7px);
    color: rgba(0, 0, 0, 0.3);
}

.icon-plus:focus,
.icon-minus:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.icon-plus:hover,
.icon-minus:hover {
    fill: #000000;
}

.icon-plus:active,
.icon-minus:active {
    fill: rgba(0, 0, 0, 0.3);
}

.modal-button {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: #83B3D3;
    border-radius: 10px;
    border: none;
    width: 575px;
    box-sizing: border-box;
}

.modal-close-button:focus {
    background: #E6E6E6;
    outline: 3px solid #83B3D3;
    border-radius: 50%px;
}

.modal-close-button:hover {
    background: #E6E6E6;
    color:#000000;
}

.modal-close-button:active {
    background: #E6E6E6;
    fill: rgba(0, 0, 0, 0.3);
    outline: none;
}

.modal-user-field:focus {
    background: #E6E6E6;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.modal-user-field:hover {
    background: #E6E6E6;
}

.modal-user-field:active {
    background: #ffffff;
    color: #000000;
    outline:2px solid #000000;
}

.modal-button:focus {
    background: #68A2CA;
    outline: 3px solid #756257;
    border-radius: 10px;
}

.modal-button:hover {
    background: #68A2CA;
}

.modal-button:active {
    background: #68A2CA;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
}

.tooltip-toggle {
    display: block;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.tooltip-icon {
    width: 25px;
    height: 25px;
    display: block;
    background-color: #68A2CA;
    border-radius: 50%;
    padding: 5px;
    box-sizing: border-box;
}

.tooltip-text {
    font-family: PT Sans;
    background-color: #242424;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    padding: 15px 18px 18px 22px;
    border-radius: 10px;
    display: block;
    width: 256px;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    margin-top: 20px;
    display: none;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}


.tooltip-text:after {
    content:'';
    background-image: url("../images/modal-window/triangle.svg");
    width: 14px;
    height: 6px;
    position:absolute;
    bottom: 100%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip {
    position: absolute;
    margin-top: -8px;
    margin-left: 57px;
    width: 16px;
    height: 16px;
}

/* .modal-container-close {
    display: none;
} */

/* .modal-label-children::after {
    position: absolute;
    content: "i";
    right: 228px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #83B3D3;
    color: #ffffff;
    line-height: 25px;
    text-align: center;
} */